<ion-header>
  <ion-navbar>
    <ion-title>
      Cleaning App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>
    Registration
  </h1>

  <p text-center>
    Please fill in details to register:
  </p>
<ion-grid>
  <ion-row>
    <ion-col>
    </ion-col>
  
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-list>
          <form [formGroup]="Cleaners" (ngSubmit)="onSubmit()">

            <ion-card-header><p>
              Contact: 
            </p></ion-card-header>
      
            <ion-item>
              <ion-label>First Name</ion-label>
              <ion-input [(ngModel)]="cleaner.firstName" formControlName="firstName" type="text" id="firstName" spellcheck="false" autocapitalize="off">
              </ion-input>
            </ion-item>
            <p *ngIf="!isValid('firstName')" danger padding-left>The First Name can only contain Letters A-Z</p>

      <ion-item>
        <ion-label>Last name</ion-label>
        <ion-input [(ngModel)]="cleaner.lastName" formControlName="lastName" type="text" id="lastName" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('lastName')" danger padding-left>The Last Name can only contain Letters A-Z</p>

      <ion-item>
        <ion-label>Mobile Phone</ion-label>
        <ion-input [(ngModel)]="cleaner.phone" type="text" formControlName="phone" id="phone" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('phone')" danger padding-left>The Phone Number can only contain 10 Digits</p>

      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input [(ngModel)]="cleaner.email" formControlName="email" type="text" id="email" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('email')" danger padding-left>Invalid E-mail</p>

      <ion-card-header><p>
        Address:
      </p></ion-card-header>
      <ion-item>
        <ion-label>Street Number</ion-label>
        <ion-input [(ngModel)]="cleaner.number" type="text" formControlName="number" id="number" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('number')" class=
      "alert alert-danger" padding-left>The Street Number can only contain Letters A-Z, Digits 0-9 and '-/</p>

      <ion-item>
        <ion-label>Street</ion-label>
        <ion-input [(ngModel)]="cleaner.street" type="text" formControlName="street" id="street" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('street')" danger padding-left>The Street Name can only contain Letters A-Z</p>

      <ion-item>
        <ion-label>Postcode</ion-label>
        <ion-input [(ngModel)]="cleaner.postcode" type="text" formControlName="postcode" id="postcode" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('postcode')" danger padding-left>The Postcode can only contain Letters A-Z, Digits 0-9 and -/</p>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-input [(ngModel)]="cleaner.city" type="text" formControlName="city" id="city" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('city')" danger padding-left>The City can only contain Letters A-Z and '</p>
      
      <ion-card-header><p>
        How far away from its address is the Cleaner willing to travel? (in Km)
      </p></ion-card-header>
      <ion-item>
        <ion-label>Distance</ion-label>
        <ion-input [(ngModel)]="cleaner.distance" type="text" formControlName="distance" id="distance" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('distance')" danger padding-left>Invalid Distance'</p>
      
        
      <div text-center>
        <button ion-button round type="submit" [disabled]="!Cleaners.valid"> Register
        </button>
      </div>

              </form>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>