<ion-header>
  <ion-navbar>
    <ion-title>
      Cleaning App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>
    Registration
  </h1>

  <p text-center>
    Please fill in details to register:
  </p>
<ion-grid>
  <ion-row>
    <ion-col>
    </ion-col>
  
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-list>
          <form [formGroup]="Cleaners" (ngSubmit)="onSubmit()">

            <ion-card-header><p>
              Contact: 
            </p></ion-card-header>
      
            <ion-item>
              <ion-label>First Name</ion-label>
              <ion-input [(ngModel)]="cleaner.firstName" formControlName="firstName" type="text" id="firstName" spellcheck="false" autocapitalize="off">
              </ion-input>
            </ion-item>
            <p *ngIf="!isValid('firstName')" danger padding-left>The First Name can only contain Letters A-Z</p>

      <ion-item>
        <ion-label>Last name</ion-label>
        <ion-input [(ngModel)]="cleaner.lastName" formControlName="lastName" type="text" id="lastName" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('lastName')" danger padding-left>The Last Name can only contain Letters A-Z</p>

      <ion-item>
        <ion-label>Mobile Phone</ion-label>
        <ion-input [(ngModel)]="cleaner.phone" type="text" formControlName="phone" id="phone" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('phone')" danger padding-left>The Phone Number can only contain 10 Digits</p>

      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input [(ngModel)]="cleaner.email" formControlName="email" type="text" id="email" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('email')" danger padding-left>Invalid E-mail</p>

      <ion-card-header><p>
        Address:
      </p></ion-card-header>
       
       
       <ion-searchbar class="searchbar" formControlName="address"
        [(ngModel)]="address.query" (ionInput)="updateSearch()">
       </ion-searchbar>
       <ion-list>
         <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
           {{ item }}
         </ion-item>
       </ion-list>
      
      <ion-card-header><p>
        How far away from its address is the Cleaner willing to travel? (in Km)
      </p></ion-card-header>
      <ion-item>
        <ion-label>Distance</ion-label>
        <ion-input [(ngModel)]="cleaner.distance" type="text" formControlName="distance" id="distance" spellcheck="false" autocapitalize="off"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('distance')" danger padding-left>Invalid Distance'</p>
      
        
      <div text-center>
        <button ion-button round type="submit" [disabled]="!Cleaners.valid"> Register
        </button>
      </div>

              </form>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>